* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
:root {
  --background-color: #212121;
  --background-color-secundary: #171717;
  --primary-color: #bb1d24;
  --secundary-color: #fff;
  --tertiary-color: #000;
}
body {
  background-color: var(--background-color-secundary);
  font-size: 1rem;
  color: var(--secundary-color);
}
a {
  color: var(--primary-color);
  text-decoration: none;
  transition: 0.3s;
}
a:hover {
  color: var(--secundary-color);
}
.logo {
  width: 3.5rem;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 10vh;
}
.nav-list {
  list-style: none;
  display: flex;
}

.nav-list li {
  letter-spacing: 0.2rem;
  margin-left: 2rem;
}

.menu-hamburguer {
  cursor: pointer;
  display: none;
}

.menu-hamburguer div {
  width: 2rem;
  height: 0.2rem;
  background-color: var(--primary-color);
  margin: 0.5rem;
  transition: 0.3s;
}

.nav-list.active {
  transform: translateX(0);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(3.125rem);
  }
  to {
    opacity: 1;
    transform: translate(0);
  }
}

.menu-hamburguer.active .line1 {
  transform: rotate(-45deg) translate(-8px, 8px);
}
.menu-hamburguer.active .line2 {
  opacity: 0;
}
.menu-hamburguer.active .line3 {
  transform: rotate(45deg) translate(-5px, -7px);
}

.container {
  margin: 1rem 1.25rem;
}
/* Seção Home */
#home {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 20px;
}
.welcome {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  align-items: center;
  justify-content: center;
  margin-bottom: 5rem;
}
.btn-home {
  display: flex;
  justify-content: flex-start;
  column-gap: 0.5rem;
}
h1 {
  text-align: center;
  font-size: 2.1rem;
}
.button {
  border: 1px solid var(--primary-color);
  border-radius: 10px 25px;
  padding: 15px;
  font-size: 1.125rem;
  color: var(--primary-color);
  text-decoration: none;
  transition: 0.3s;
  background-color: transparent;
}
.button:hover {
  background-color: var(--primary-color);
  color: var(--secundary-color);
}
.img-home {
  display: none;
}

/* About */

#about div p {
  text-align: center;
  font-size: 1.2rem;
  margin: 2rem 0;
}
.about-img {
  display: none;
}
#about div h2 {
  text-align: center;
  margin: 1.5rem 0;
}
.about-more {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1.5rem;
}

.about-more-sections {
  text-align: center;
  margin: 1rem 0;
  font-size: 3rem;
  transition: 0.3s;
}
.about-more-sections i:hover {
  background-color: var(--primary-color);
  color: var(--secundary-color);
}

.about-more-sections i {
  border: 1px solid var(--primary-color);
  border-radius: 100%;
  padding: 1rem;
}

/* Section Skills */
#tecnologies,
#Contact,
#about {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 25px;
  margin: 1.5rem 0;
}
#tecnologies div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 2rem;
  background-color: var(--background-color);
}
#tecnologies div:hover > .tech:not(:hover) {
  transform: scale(0.65);
  opacity: 0.3;
}
.tech {
  max-width: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
  padding: 20px;
  transition: 0.5s;
  border-radius: 10px;
  margin: 5px;
}
.tech i {
  font-size: 10rem;
}
.tech h3 {
  font-size: 1.5rem;
}
.tech:hover {
  color: var(--primary-color);
}

/* Projects */

#projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.title {
  margin: 2rem 0 3rem 0;
}
.card {
  transition: 0.8s;
  text-align: center;
  width: 12rem;
  margin: 1rem;
  padding: 1rem;
  border-radius: 20px;
  background: #212121;
  box-shadow: 22px 22px 44px #171717, -22px -22px 44px #2b2b2b;
}
.card:hover {
  transform: scale(1.15);
}
.card:hover .project-flag {
  color: var(--primary-color);
}
.card:hover h2 {
  color: var(--primary-color);
}
.project-flag {
  font-size: 8rem;
}
.btn-project {
  display: flex;
  justify-content: space-around;
}
.card div a {
  font-size: 2.5rem;
  color: var(--secundary-color);
}
.card div a:hover {
  color: var(--primary-color);
}
/* Contact */

form {
  background-color: var(--background-color);
  padding: 1.75rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  row-gap: 1rem;
}
form div input,
form div textarea {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid transparent;
  border-radius: 3px;
  background-color: #383838;
  transition: 0.3s;
}
form div input:focus,
form div input:hover,
form div textarea:focus,
form div textarea:hover {
  outline: none;
  border-color: var(--primary-color);
}

/* Footer */
footer h2 {
  text-align: center;
  font-size: 1rem;
  color: #383838;
  transition: 0.3s;
}
footer h2:hover {
  color: var(--primary-color);
}
/* Media queries */

@media (max-width: 900px) {
  body {
    overflow-x: hidden;
  }
  .nav-list {
    margin-top: 1.3rem;
    position: absolute;
    top: 8vh;
    right: 0;
    width: 100vw;
    height: 92vh;
    background-color: var(--background-color-secundary);
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
  }
  .nav-list li {
    margin-right: 0;
    margin-top: 1rem;
    opacity: 0;
  }
  .menu-hamburguer {
    display: block;
  }
}

@media (min-width: 768px) {
  /* Home */
  .container {
    margin: 1.25rem 1.5rem;
  }
  #home {
    flex-direction: row;
    align-items: center;
  }
  .welcome {
    align-items: flex-start;
  }
  .welcome h1 {
    text-align: left;
    font-size: 2.5rem;
  }

  .welcome div {
    margin-right: 6rem;
  }
  .img-home {
    display: block;
    width: 23rem;
    height: 23rem;
    position: relative;
    left: 2rem;
  }
  /* About */
  .about-more {
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 2rem;
    margin-top: 6rem;
  }

  .about-more-sections {
    font-size: 4rem;
  }

  /* Projects */
  #projects {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }

  /* Contact */

  form div input,
  form div textarea {
    font-size: 1.1rem;
  }
  form .button {
    font-size: 1.5rem;
  }
}
@media (min-width: 1024px) {
  /* Home */
  .welcome h1 {
    font-size: 3rem;
  }

  .img-home {
    width: 27rem;
    height: 27rem;
  }
  .welcome div {
    margin-right: 18rem;
  }

  /* Contact */
}
