* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
:root {
  --background-color: #1d1b1b;
  --background-color-secundary: #171717;
  --primary-color: #bb1d24;
  --secundary-color: #ededed;
  --tertiary-color: #000;
}
body {
  background-color: var(--background-color-secundary);
  font-size: 1rem;
  color: var(--secundary-color);
}
a {
  color: var(--primary-color);
  text-decoration: none;
  transition: 0.3s;
}
a:hover {
  opacity: 0.7;
}
.logo {
  width: 3.5rem;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 10vh;
}
.nav-list {
  list-style: none;
  display: flex;
}

.nav-list li {
  letter-spacing: 0.2rem;
  margin-left: 2rem;
}

.menu-hamburguer {
  cursor: pointer;
  display: none;
}

.menu-hamburguer div {
  width: 2rem;
  height: 0.2rem;
  background-color: var(--primary-color);
  margin: 0.5rem;
  transition: 0.3s;
}

.nav-list.active {
  transform: translateX(0);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(3.125rem);
  }
  to {
    opacity: 1;
    transform: translate(0);
  }
}

.menu-hamburguer.active .line1 {
  transform: rotate(-45deg) translate(-8px, 8px);
}
.menu-hamburguer.active .line2 {
  opacity: 0;
}
.menu-hamburguer.active .line3 {
  transform: rotate(45deg) translate(-5px, -7px);
}

.container {
  margin: 1rem 1.25rem;
}
/* Seção Home */
#home {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 20px;
}
#home div {
  display: flex;
  column-gap: 10px;
  justify-content: center;
}
h1 {
  text-align: center;
  font-size: 2.1rem;
}
.button {
  border: 1px solid var(--primary-color);
  border-radius: 10px 25px;
  padding: 15px;
  font-size: 1.125rem;
}
a.button:hover {
  background-color: var(--primary-color);
  color: var(--secundary-color);
}
.img-home {
  display: none;
}

/* Sobre Mim */

#about {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#about div p {
  text-align: center;
  font-size: 1.2rem;
  margin-top: 20px;
}
.about-img {
  display: none;
}

/* Section Skills */
#tecnologies {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 25px;
}
#tecnologies div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.tech {
  max-width: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
  padding: 20px;
  transition: 0.5s;
  border-radius: 10px;
  margin: 5px;
}
.tech:hover {
  background-color: var(--primary-color);
}

/* Projects */

/* Media queries */

@media (max-width: 900px) {
  body {
    overflow-x: hidden;
  }
  .nav-list {
    margin-top: 1.3rem;
    position: absolute;
    top: 8vh;
    right: 0;
    width: 100vw;
    height: 92vh;
    background-color: var(--background-color-secundary);
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
  }
  .nav-list li {
    margin-right: 0;
    margin-top: 1rem;
    opacity: 0;
  }
  .menu-hamburguer {
    display: block;
  }
}
